.agenda {
  display: flex;
  height: 1440px;
  margin-top: 20px;
}

.horas {
  width: 70px;
}

.horas div {
  height: 60px;
  border-bottom: 1px solid #ccc;
  font-size: 12px;
}

.dia {
  flex: 1;
  position: relative;
  border-left: 1px solid #ccc;
}

.evento {
  position: absolute;
  left: 10px;
  right: 10px;
  height: 60px;
  background: #ff6b6b;
  color: white;
  border-radius: 6px;
  padding: 5px;
  cursor: grab;
}
