body {
  margin: 0;
  font-family: Arial;
}

.topo {
  padding: 10px;
  background: #006994;
  color: white;
}

.agenda {
  display: flex;
  height: 1440px; /* 24h x 60px */
}

.horas {
  width: 70px;
}

.horas div {
  height: 60px;
  border-bottom: 1px solid #ccc;
  font-size: 12px;
  padding: 2px;
}

.dia {
  flex: 1;
  position: relative;
  border-left: 1px solid #ccc;
}

.evento {
  position: absolute;
  left: 10px;
  right: 10px;
  background: #ff6b6b;
  color: white;
  border-radius: 6px;
  padding: 5px;
  cursor: grab;
  user-select: none;
}

.evento:active {
  cursor: grabbing;
}
