body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(#87ceeb, #fff);
  text-align: center;
}

.hidden { display: none; }

.login {
  margin-top: 120px;
}

nav {
  background: #006994;
  padding: 10px;
}

nav button {
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.secao {
  padding: 30px;
}

.galeria {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.galeria img {
  width: 200px;
  border-radius: 10px;
}


/* ===== SUBABAS ===== */
.subabas {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.subaba {
  padding: 6px 14px;
  border: none;
  border-radius: 20px;
  background: #ddd;
  cursor: pointer;
  transition: background .2s;
}

.subaba.ativa {
  background: #ff6b6b;
  color: white;
}
